<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
#parse("common/include.html")
<link href="${ctx}/static/css/base/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${ctx}/static/js/pub/common/slide.js"></script>
<script type="text/javascript" src="${ctx}/static/js/base/index.js"></script>




</head>

<body>
<a class="index_bottom_a" id="#goTopBtn" href="#"></a>

<!-- 头部 开始 -->
#parse("common/top.html")
<!-- 头部 结束 -->

<!-- banner 开始 -->
<div class="index_banner">
    <!--<a class="index_banner_al" href="#"></a>
    <a class="index_banner_ar" href="#"></a>-->
        <div class="index_banner_img conbox">
            <div><a class="index_banner1" href="../tourist/我要借款-银行贷款.html"></a></div>
            <div><a class="index_banner2" href="../tourist/我要理财-P2P投资.html"></a></div>
            <div><a class="index_banner3" href="../tourist/我要投资-理财产品－首页.html"></a></div>
            <div><a class="index_banner4" href="../tourist/我要网购-首页.html"></a></div>
            <div><a class="index_banner5" href="../tourist/首页-农银通宝-首页.html"></a></div>
        </div>
        <div class="index_banner_a switcher">
        	<a class="index_banner_acur" href="#"></a>
        	<a href="#"></a>
        	<a href="#"></a>
        	<a href="#"></a>
            <a href="#"></a>
        </div>
</div>
<!-- banner 结束 -->

<!-- 内容 开始 -->
<div class="index_main">
	<div class="index_bg1">
    	<div class="clearfix">
            <div class="index_bg_nav index_bg_nav1">
                <a class="clearfix" href="#">
                    <p class="index_bg_nav1_img index_bg_nav1_img1"><span></span></p>
                    <div class="index_bg_nav1_p1"></div>
                </a>
            </div>
            <div class="index_bg_nav index_bg_nav2">
                <a class="" href="#">
                    <p class="index_bg_nav1_img index_bg_nav1_img2"><span></span></p>
                    <div class="index_bg_nav1_p2"></div>
                </a>
            </div>
            <div class="index_bg_nav index_bg_nav3">
                <a class="" href="#">
                    <p class="index_bg_nav1_img index_bg_nav1_img3"><span></span></p>
                    <div class="index_bg_nav1_p3"></div>
                </a>
            </div>
        </div>
        <div class="index_redd clearfix">
        	<div class="index_redd_p">
            	<p><span>农银通P2P产品正式上线，火热募集中</span><em>2014-01-15</em></p>
            	<p class="index_border_no"><span>农银通P2P产品正式上线，火热募集中</span><em>2014-01-15</em></p>
            </div>
            <a href="#">显示更多</a>
        </div>
    </div>
    <h2 class="index_tit">用户的评价</h2>
    <div class="index_evaluation">
    	<div class="index_evaluation1">
        	<div style="position:absolute; width:1000px;">
                <ul>
                    <li class="clearfix">
                        <img src="../static/images/base/pic_zy_4.png" />
                        <a>
                            <h3>小微企业主</h3>
                            <p class="index_evaluationc_con">
                                <em class="index_evaluationc_con_t"></em>
                                <span>真没想到使用农银通贷款，仅仅用了1.5小时就完成了数十万的贷款，帮我们在备货期解决大问题了！</span>
                                <em class="index_evaluationc_con_b"></em>
                            </p>
                            <p class="index_evaluationc_time"><span class="index_evaluationc_add">深圳</span><span class="index_evaluationc_time_s">评价于2013.10.10</span></p>
                            <span class="contact_him"></span>
                        </a>
                    </li>
                    <li class="clearfix even">
                        <img src="../static/images/base/pic_zy_5.png" />
                        <a>
                            <h3>白领上班族</h3>
                            <p class="index_evaluationc_con">
                                <em class="index_evaluationc_con_t"></em>
                                <span>使用农银通P2P理财，每天都会有数个好的投资项目推荐给我，再也不用为闲散资金如何打理犯愁了</span>
                                <em class="index_evaluationc_con_b"></em>
                            </p>
                            <p class="index_evaluationc_time"><span class="index_evaluationc_add">北京</span><span class="index_evaluationc_time_s">评价于2013.11.11</span></p>
                            <span class="contact_him"></span>
                        </a>
                    </li>
                    <li class="clearfix">
                        <img src="../static/images/base/pic_zy_6.png" />
                        <a>
                            <h3>家庭主妇</h3>
                            <p class="index_evaluationc_con">
                                <em class="index_evaluationc_con_t"></em>
                                <span>没想到仅仅3天就收到通过农银通全球购从澳洲送达的澳洲羊绒被，这个冬天真暖和，全家都很开心</span>
                                <em class="index_evaluationc_con_b"></em>
                            </p>
                            <p class="index_evaluationc_time"><span class="index_evaluationc_add">上海</span><span class="index_evaluationc_time_s">评价于2013.09.04</span></p>
                            <span class="contact_him"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index_evaluation_list">
        	<ul class="clearfix">
            	<li><a class="index_evaluation_list_cur" href="#"></a></li>
            	<li><a href="#"></a></li>
            	<li><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <h2 class="index_tit">P2P融资项目</h2>
    <div class="financing_p2p">
    	<div class="financing_p2p1">
            <ul class="clearfix">
                <li>
                    <div class="financing_p2p_img"></div>
                    <div class="financing_p2p_con">
                        <h4>某模具制造有限公司</h4>
                        <ul>
                            <li><label>融资项目:</label><span>扩建厂房</span></li>
                            <li><label>融资金额:</label><span>￥150万</span></li>
                            <li><label>融资利率:</label><span>16%</span></li>
                            <li><label>融资周期:</label><span>45天</span></li>
                            <li><label>剩余时间:</label><span>3天</span></li>
                        </ul>
                        <a class="financing_a" href="#"></a>
                    </div>
                </li>
                <li>
                    <div class="financing_p2p_img"></div>
                    <div class="financing_p2p_con">
                        <h4>某设备经销有限公司</h4>
                        <ul>
                            <li><label>融资项目:</label><span>资金周转</span></li>
                            <li><label>融资金额:</label><span>￥200万</span></li>
                            <li><label>融资利率:</label><span>18%%</span></li>
                            <li><label>融资周期:</label><span>15天</span></li>
                            <li><label>剩余时间:</label><span>1天</span></li>
                        </ul>
                        <a class="financing_a" href="#"></a>
                    </div>
                </li>
                <li>
                    <div class="financing_p2p_img"></div>
                    <div class="financing_p2p_con">
                        <h4>某模具制造有限公司</h4>
                        <ul>
                            <li><label>融资项目:</label><span>备货</span></li>
                            <li><label>融资金额:</label><span>￥100万</span></li>
                            <li><label>融资利率:</label><span>15%</span></li>
                            <li><label>融资周期:</label><span>60天</span></li>
                            <li><label>剩余时间:</label><span>3小时</span></li>
                        </ul>
                        <a class="financing_a" href="#"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="financing_p2p_list_a">
        	<ul>
            	<li><a class="financing_p2p_list_a_cur" href="#"></a></li>
            	<li><a href="#"></a></li>
            	<li><a href="#"></a></li>
            	<li><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="index_bg3">
    	<h2 class="index_tit">小理财大保障</h2>
        <ul>
        	<li>
            	<span class="icon_bg3_1"></span>
                <div class="fl">
                	<a class="btn_financing1_1" href="#"></a>
                    <p class="financing_p2p_p">小投入创造稳定收益</p>
                </div>
            </li>
        	<li>
            	<span class="icon_bg3_2"></span>
                <div class="fl">
                	<a class="btn_financing1_2" href="#"></a>
                    <p class="financing_p2p_p">为健康生活提供保障</p>
                </div>
            </li>
        	<li>
            	<span class="icon_bg3_3"></span>
                <div class="fl">
                	<a class="btn_financing1_3" href="#"></a>
                    <p class="financing_p2p_p">确保融资贷款的安全</p>
                </div>
            </li>
        </ul>
    </div>
    <h2 class="index_tit">贷款产品</h2>
    <div class="loan_products_list">
    	<ul>
        	<li style="left:0; height:305px; width:329px;">
            	<h3>经营贷</h3>
                <div class="loan_products_list_bg">
                	<p>还款期限</p>
                    <p class="loan_products_red">180天</p>
                </div>
                <p class="loan_products_list_p1"><label>还款方式：</label><span>随借随还</span></p>
                <p class="loan_products_list_p1"><label>贷款利率：</label><span class="loan_products_green">最高9%</span></p>
                <a class="loan_products_list_a" href="#"></a>
            </li>
            <li style="left:330px; height:323px;" class="loan_products_list_center">
            	<h3 class="loan_products_list_h3">备货贷</h3>
                <div class="loan_products_list_bg">
                	<p>还款期限</p>
                    <p class="loan_products_red">90天</p>
                </div>
                <p class="loan_products_list_p1"><label>还款方式：</label><span>随借随还</span></p>
                <p class="loan_products_list_p1"><label>贷款利率：</label><span class="loan_products_green">最高9%</span></p>
                <a class="loan_products_list_a" href="#"></a>            
            </li>
            <li style="left:667px; height:305px; width:329px;">
            	<h3>周转贷</h3>
                <div class="loan_products_list_bg">
                	<p>还款期限</p>
                    <p class="loan_products_red">45天</p>
                </div>
                <p class="loan_products_list_p1"><label>还款方式：</label><span>随借随还</span></p>
                <p class="loan_products_list_p1"><label>贷款利率：</label><span class="loan_products_green">最高9%</span></p>
                <a class="loan_products_list_a" href="#"></a>
            </li>
        </ul>
    </div>
    <h2 class="index_tit">网购专场</h2>
     <div class="advertisement_link">
    	<div class="ad-1">
   	      		<img src="../static/images/base/ad1-logo_03.jpg" alt="" width="146" height="147" />
                <a href="../tourist/我要网购-首页.html" class="more"></a>
    </div>
            <div class="ad-2">
            	<p>
                	<em>英国</em>皇室御用品牌源于 1880由Loake家族的三兄弟Thomas，John和William在英国建立至今已有130年的历史。
                </p>
            </div>
            <div class="ad-3">
   	      		<img src="../static/images/base/ad3-logo_06.jpg" alt="" width="159" height="53" />
                <a href="../tourist/我要网购-首页.html" class="more"></a>
          
       	    </div>
            <div class="ad-4">
              <img src="../static/images/base/ad4-logo_03.png" alt="" width="133" height="114" />
            </div>
            <div class="ad-5">
                <img src="../static/images/base/ad5-logo_15.png" alt="" width="151" height="50" /> 
                <a href="../tourist/我要网购-首页.html" class="more"></a>
       	    </div>
            <div class="ad-6">
            	<p>
                	<em>至尊租车</em>成立于2006年1月19日，是中国首家采用新模式开展全国连锁汽车租赁业务的企业。
                </p>
            </div>
             <div class="ad-7">
            	<p>
                	<em>美年</em>创始于2004年，由原美年健康产业集团和原大健康科技健康管理有限公司合并而成，在全国拥有100余 家体检中心
                </p>
            </div>
             <div class="ad-8">
				<img src="../static/images/base/ad6-logo_14.jpg" alt="" width="33" height="59" />
                <p><em>秦</em>战六国一统中国的历史被后人所乐道而今天秦再次复活，它是比亚迪第二代双模电动车秦。凭借303匹马力百公里5.9秒的加速向世人宣告回归，用速度点燃了战争的硝烟。</p>
        		 <a href="../tourist/我要网购-首页.html" class="more"></a>
       	    </div>
    </div>
</div>
<!-- 内容 结束 -->

#* 页脚 开始 *#
#parse("common/footer.html")
#* 页脚 结束 *#
</body>
</html>