#parse("common/common.html")
<link href="${ctx}/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/static/css/global.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/static/component/wdDatePicker/css/dp.css" rel="stylesheet" type="text/css" />
<!-- JQuery脚本库 -->
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery-ui-formatCurrency.min.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery-ui-rcarousel.min.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery.powerFloat.min.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery.form.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery-validation/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/jquery/jquery-validation/additional-validate-methods.js"></script>
<!-- 组件脚本 -->
<script type="text/javascript" src="${ctx}/static/component/wdDatePicker/datepicker_lang_CN.js"></script>
<script type="text/javascript" src="${ctx}/static/component/wdDatePicker/jquery.datepicker.js"></script>
<!-- 公用脚本 -->
<script type="text/javascript" src="${ctx}/static/js/pub/common/ibank-common.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/common/topnav.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/common/pop.js"></script>
<script type="text/javascript" src="${ctx}/static/js/pub/common/pub_select.js"></script>
