<div id="nav">
	<div class="nav_con">
    	<ul lock="0" class="nav_con_list">
        	<li fg="0" row="1" class="nav_list1 clearfix fix-li">
            	<a link="${ctx}/base/account/personInfo" href="#" class="nav_index"><span class="icon_nav_index"></span><p>首页</p></a>
                <ul style="display:none;" class="clearfix">
                	<li><a href="#" class="nav_twolist_cur">我的信息 86%</a></li>
                	<li><a href="#">我的关注 11人</a></li>
                	<li><a href="#">我的合同 10份</a></li>
                </ul>
            </li>
        	<li style="left:83px;" fg="1" row="2" class="nav_list2 clearfix fix-li">
            	<a link="#" href="${ctx}/loan/loanIndex" class="nav_index nav_list_index"><span class="icon_nav_index1"></span><p>贴心贷</p></a>
			    <ul class="clearfix">
                	<li><a href="${ctx}/loan/loanIndex" class="nav_twolist_cur">银行贷款</a></li>
                </ul> 
            </li>
        	<li fg="0" row="3" class="nav_list3 clearfix fix-li">
            	<a link="${ctx}/lb/project/loanCenter" href="#" class="nav_index"><span class="icon_nav_index2"></span><p>放心投</p></a>
			    <ul style="display:none;" class="clearfix">
                	<li><a href="${ctx}/lb/project/borIndex">P2P融资</a></li>
                	<li class="nav_twolist_cur_bg">
                    	<a href="${ctx}/lb/project/loanCenter" class="nav_twolist_cur nav_twolist_cur_1">P2P投资</a>
                        <ul class="nav_twolist_cur_li">
                        	<li><a href="${ctx}/lb/project/loanCenter">P2P投资</a></li>
                        	<li><a href="${ctx}/lb/project/myLoan">投资项目</a></li>
                        	<li><a href="${ctx}/lb/project/myStatistics">投资分析</a></li>
                        	<li><a href="${ctx}/lb/project/autoLoan">自动投资</a></li>
                        </ul>
                    </li>
                </ul> 
            </li>
        	<li fg="0" row="4" class="nav_list4 clearfix fix-li">
            	<a link="${ctx}/investment" href="#" class="nav_index"><span class="icon_nav_index5"></span><p>安心理</p></a>
			    <ul style="display:none;" class="clearfix">
                	<li class="nav_twolist_cur_bg">
                    	<a href="${ctx}/investment" class="">理财产品</a>
                        <ul class="nav_twolist_cur_li">
                        	<li><a href="${ctx}/investment">理财产品</a></li>
                        	<li><a href="${ctx}/investment/orderlist">我的订单</a></li>
                        	<li><a href="#">我的收藏</a></li>
                        </ul>
                    </li>
                </ul> 
            </li>
        	<li fg="0" row="5" class="nav_list5 clearfix fix-li">
            	<a link="${ctx}/shopping/index" href="#" class="nav_index"><span class="icon_nav_index3"></span><p>随心购</p></a>
			    <ul style="display:none;" class="clearfix">
                	<li><a href="${ctx}/shopping/index">直销商城</a></li>
                </ul> 
            </li>
        	<li fg="0" row="6" class="nav_list6 clearfix fix-li">
            	<a link="${ctx}/payment" href="#" class="nav_index"><span class="icon_nav_index4"></span><p>省心付</p></a>
			    <ul style="display:none;" class="clearfix">
                	<li><a href="${ctx}/payment">农银通宝 10万</a></li>
                </ul> 
            </li>
        </ul>
    </div>
</div>