<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductCatalogue">

	<resultMap id="productCatalogueMap"
		type="com.kingteller.bs.domain.product.ProductCatalogue">
		<id column="code" property="code" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="serialize" property="serialize" jdbcType="BIGINT" />
	</resultMap>

	<!-- 查找 -->
	<select id="getProductCatalogues" resultMap="productCatalogueMap" parameterType="com.kingteller.bs.domain.product.ProductCatalogue">
		select * from productcatalogue where status=#{status, jdbcType=CHAR}
	</select>
	
	<update id="updateProductCatalogSerialize" parameterType="com.kingteller.bs.domain.product.ProductCatalogue">
		update productcatalogue set serialize=#{serialize, jdbcType=BIGINT}+1000 where code=#{code, jdbcType=VARCHAR} and serialize=#{serialize, jdbcType=BIGINT}
	</update>
	
	<update id="resetProductCatalogSerialize" parameterType="com.kingteller.bs.domain.product.ProductCatalogue">
		update productcatalogue set serialize=1000 where code=#{code, jdbcType=VARCHAR} and serialize=#{serialize, jdbcType=BIGINT}
	</update>
	
	<select id="queryProductCatalogByCode" parameterType="com.kingteller.bs.domain.product.ProductCatalogue" resultMap="productCatalogueMap">
		select * from productcatalogue where code = #{code, jdbcType=VARCHAR}
	</select>
	
	
	
</mapper>