<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDetailed">

	<resultMap id="userDetailedMap"
		type="com.kingteller.bs.domain.user.UserDetailed">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="sex" property="sex" jdbcType="CHAR" />
		<result column="userbaseid" property="userBaseId" jdbcType="BIGINT" />
	</resultMap>
	
	<insert id="insertUserDetailed" parameterType="com.kingteller.bs.domain.user.UserDetailed"
		keyProperty="id" useGeneratedKeys="true">
		insert into userdetailed(
			sex, 
			userbaseid
		) values(
			#{sex,jdbcType=CHAR}, 
			#{userBaseId,jdbcType=BIGINT}
		)
	</insert>
</mapper>